.char-caminho-row{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.char-texto-imagem{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay; 
    
    }
.char-table td, .char-table th {
    align-items: center;
    justify-content: center;
    text-align: center;
}